<div class="container">
    <div class="row py-3">
        <div class="col-12 col-md text-center text-md-start">
            &copy; 2020 - Quitanda Online <br>
            Rua Francisco Barboza, 176, Rio de Janeiro/RJ<br>
            CNPJ 99.999.999/0001-99<br>
        </div>
        <div class="col-12 col-md text-center text-md-center">
            <a  href="./pages/privacy.html" 
                class="text-decoration-none text-dark" 
                dt-href>Politicas de Privacidade
            </a><br>
            <a  href="./pages/terms_of_use.html" 
                class="text-decoration-none text-dark" 
                dt-href>Termos de Uso
            </a><br>
            <a  href="./pages/about_us.html" 
                class="text-decoration-none text-dark" 
                dt-href>Quem Somos
            </a><br>
            <a  href="./pages/exchanges.html" 
                class="text-decoration-none text-dark" 
                dt-href>Trocas e Devoluções
            </a>
        </div>
        <div class="col-12 col-md text-center text-md-end">
            <a  href="./pages/contact.html" 
                class="text-decoration-none text-dark" 
                dt-href>Contatos
            </a><br>
            E-mail: <a  href="mailto:email@dominio.com"
                        class="text-decoration-none text-dark">
                            email@dominio.com</a><br>
            Telefone: <a href="phone:21999996666" 
                         class="text-decoration-none text-dark">(21)99999-6666
                      </a>

        </div>
    </div>
</div>