<nav class="navbar navbar-expand-lg navbar-dark bg-danger bg-gradient border-bottom shadow mb-3 py-0">
    <div class="container my-1">
        <a  class="navbar-brand py-0 m-0" href="index.html">
            <img src="../../imgs/brand/brand.png" alt="Logotipo" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a href="index.html" class="nav-link text-white">Principal</a>
                </li>
                <li class="nav-item">
                    <a  href="/pages/contact.html"  class="nav-link text-white" dt-href>Contato</a>
                </li>
            </ul>
            <div class="align-self-end">
                <ul class="navbar-nav">
                    <div class="container-fluid d-flex flex-column align-items-lg-end flex-lg-row m-0 p-0">
                        <div class="d-flex justify-content-between align-items-lg-end order-2 order-lg-1 m-0 p-0">
                            <li class="nav-item ">
                                <a  class="nav-item btn btn-outline-danger text-white mx-0 me-lg-3 mb-3 mb-lg-0 p-2" 
                                    href="/pages/register.html" dt-href>Quero me cadastrar
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a  class="nav-link btn btn-danger text-white mx-0 me-lg-2  mb-3 mb-lg-0 p-2 d-inline-flex" 
                                    href="/pages/login.html" dt-href>Entrar
                                </a>
                            </li>
                        </div>
                        <li class="nav-item position-relative order-1 order-lg-2">
                            <span   class="badge rounded-pill bg-light text-danger position-absolute top-0 start-0" 
                                    title="5 produto(s) no carrinho">
                                <small>5</small>
                            </span>
                            <a href="/pages/cart.html" class="nav-link text-white" dt-href>
                                <i class="bi bi-cart3" style="font-size: 24px; line-height: 24px;"></i>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>       
</nav>