<div id="carouselMain" class="carousel carousel-light slide"  data-bs-ride="carousel">
    <div class="carousel-indicators" >
        <button qo-indicators data-bs-target="#carouselMain" data-bs-slide-to="0" class="active" type="button"></button>
        <button qo-indicators data-bs-target="#carouselMain" data-bs-slide-to="1"  type="button"></button>
        <button qo-indicators data-bs-target="#carouselMain" data-bs-slide-to="2"  type="button"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active text-center" data-bs-interval="4000">
            <img    src="../../imgs/slides/slide1.png" alt="Capa do site" 
                    class="img-fluid d-none d-md-block">
            <img    src="../../imgs/slides/slide1_small.png" alt="Capa do site" 
                    class="img-fluid d-block d-md-none">
        </div>
        <div class="carousel-item  text-center" data-bs-interval="4000">
            <img    src="../../imgs/slides/slide1.png" alt="Capa do site" 
                    class="img-fluid d-none d-md-block">
            <img    src="../../imgs/slides/slide1_small.png" alt="Capa do site" 
                    class="img-fluid d-block d-md-none">
        </div>
        <div class="carousel-item  text-center" data-bs-interval="4000">
            <img    src="../../imgs/slides/slide1.png" alt="Capa do site" 
                    class="img-fluid d-none d-md-block">
            <img    src="../../imgs/slides/slide1_small.png" alt="Capa do site" 
                    class="img-fluid d-block d-md-none">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">proximo</span>
    </button>
</div>
<hr class="my-3">