@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
//                                                  ----BODY----
body{
    min-width: 372px;
}
.wrapper{
    min-height: 100vh !important; 
}

//                                                  ----NAVBAR----


//                                                  ----SLIDE----

.carousel-indicators {
   bottom: -15px;
}

//                                                  ----MAIN----
main .btn-danger{
    border: none;
    background-color:  #850202;
    transition: all 0.3s;
}
main .btn-danger:hover{ 
    background-color:  #b10505;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.45);
    transform: scale(1.1);
}
main .btn-danger:focus{ 
    background-color: #850202;
    box-shadow: 4px 4px 8px  #e60505a1 !important ;
    border:1.5px solid #e60505 !important;
}
main .btn-danger:disabled{
    background-color: #e6050536;
    color: #000;
}
main .btn-outline-danger{ 
    border-color: #850202;
    color: #000;
}
main .btn-outline-danger:hover{ 
    background-color: #850202;
    color: #fff !important;
    border: #b10505;
}

main .btn-outline-success{ 
    border-color: #007c1b;
    color: #000;
}
main .btn-outline-success:hover{ 
    background-color: #007c1b;
    color: #fff !important;
    border: #19b105;
}
main .bg-danger{
    background-color: #850202 !important;
}
label:hover .text-dark{
    color: #e2e2e2 !important;
    transition: color 0.2s ease;
}
label .text-dark{
    transition: color 0.2s ease;
}
.btn-check:hover+label form .text-danger,
.btn-check:active+label form .text-danger,
.btn-check:checked+label form .text-danger{
    color: #e2e2e2 !important;
    transition: color 0.2s ease;
}
.btn-check:hover+ .btn-outline-danger .text-dark,
.btn-check:checked+ .btn-outline-danger .text-dark,
.btn-check:active+ .btn-outline-danger .text-dark{
    color: #e2e2e2 !important;
    transition: 0.2 ease;
    
}
.btn-check:hover + .btn-outline-danger,
.btn-check:checked + .btn-outline-danger ,
.btn-check:active + .btn-outline-danger {
    background-image: linear-gradient(40deg, #b10505, #850202, #000) !important;
    // border: #b10505;
    transition: color 0.2s ease;
    box-shadow: 3px 3px 10px #00000096;
    
}
label .btn-outline-danger

main #button-addon2, .card-footer form .btn-danger{
    transform: none;
}

main textarea:focus{ 
    background-color: #850202;
    box-shadow: 2px 2px 8px  #e6050599 !important ;
    border:1.5px solid #e60505 !important;
}

.text-danger{
    color: #b10505 !important;
}

.input-group .btn-outline-danger{
    border-color: #850202;
    color: #850202;
}

.input-group input.border-danger{
    border-color: #850202 !important;
}
.input-group .btn-outline-danger:hover{ 
    background-color: #850202;
    color: #fff;
    box-shadow: 0 0 5px #000;

}
.input-group .btn-outline-danger .bi-trash3:hover{ 
    background-color: #850202;
    color: #fff;
}


a.page-link{
    text-decoration: none !important;
    color: #850202;
}
a.page-link:hover{
    color: #e60505 !important;
    text-decoration: none !important;
}
a.page-link:focus{
    background-color: #fff;
    color: #e70606;
    box-shadow: 0 0 5px  #e6050599 !important ;
    border-color: #e60505 !important;
}
.link-danger{
    color: #e70606 !important; 
    text-decoration: underline #e70606!important;
}
.link-danger-disunderlined{
    color: #e70606 !important; 
    text-decoration: none !important;
}
b .link-danger-disunderlined{
    color: #850202 !important;
}
.link-danger:hover{
    color: #850202 !important; 
    text-decoration: underline #850202 !important;
}

input:focus, .form-select:focus{
    box-shadow: 0 0 5px  #e6050599 !important ;
    border-color: #e60505 !important;
}
input[type=checkbox]:focus{
    box-shadow: 0 0 5px  #e6050566 ;
    border-color: #e60505;
}
input[type=checkbox]:checked{
    background-color: #e70606;
    border-color: #850202;
}

.flex-even{
    flex: 1;
    min-width: 300px;
}
.truncate-3l{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
//                                                  ----FOOTER----
footer{
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
 }


//                                          ---------- MEDIA QUERY ----------
 

@media(max-width: 576px){
    .carousel-indicators {
        width: 20px;
        height: 2px;
    }
}

@media(max-width: 992px){
    .carousel-indicators {
        width: 25px;
        height: 2.5px;
        bottom: -15px;

    }

    .nav-item > .btn-outline-danger:hover{ background-color: #b10505;}
    .nav-item > .btn-outline-danger{ border-color: #b10505;}
}

