@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
//                                                  ----BODY----
body{
    min-width: 372px;
}

.wrapper{
    min-height: 100vh !important; 
}

//                                                  ----NAVBAR----
.navbar{
    background-image: linear-gradient(40deg, #850202, #000) !important;
    font-family: 'Lato', sans-serif; 
}

.nav{
    display: inline-block;
}

.nav-item > .btn-outline-danger:hover{ background-color: #850202;}
.nav-item > .btn-outline-danger{ border-color: #850202;}
.nav-item > .btn-danger{ background-color:  #850202;}
.nav-item > .btn-danger:hover{ background-color:  #b10505;}

//                                                  ----SLIDE----

.carousel-indicators {
   bottom: -15px;
}

//                                                  ----MAIN----
main .btn-danger{
    border: none;
    background-color:  #850202;
    transition: all 0.3s;
}
main .btn-danger:hover{ 
    background-color:  #b10505;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.45);
    transform: scale(1.1);
}
main .btn-danger:focus{ 
    background-color: #850202;
    box-shadow: 4px 4px 8px  #e60505a1 !important ;
    border:1.5px solid #e60505 !important;
}
.link-danger{
    color: #e70606 !important; 
    text-decoration: underline #e70606!important;
}

.link-danger:hover{
    color: #850202 !important; 
    text-decoration: underline #850202 !important;
}

input:focus{
    box-shadow: 0 0 5px  #e6050599 !important ;
    border-color: #e60505 !important;
}
input[type=checkbox]:focus{
    box-shadow: 0 0 5px  #e6050566 ;
    border-color: #e60505;
}

input[type=checkbox]:checked{
    background-color: #e70606;
    border-color: #850202;
}

footer{
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
 }


//                                          ---------- MEDIA QUERY ----------
 

@media(max-width: 576px){
    .carousel-indicators {
        width: 20px;
        height: 2px;
    }
}

@media(max-width: 992px){
    .carousel-indicators {
        width: 25px;
        height: 2.5px;
        bottom: -15px;

    }

    .nav-item > .btn-outline-danger:hover{ background-color: #b10505;}
    .nav-item > .btn-outline-danger{ border-color: #b10505;}
}

